{% extends 'pypi_ui/base.html' %}
{% block guide_section %}class="active"{% endblock %}

{% block content %}
<ul class="nav nav-tabs" id="guideTab">
    <li class="active"><a href="#home" data-toggle="tab">Getting Started</a></li>
    <li><a href="#download" data-toggle="tab">Downloading & Using</a></li>
    <li><a href="#upload" data-toggle="tab">Developing & Uploading</a></li>
    <li><a href="#advanced" data-toggle="tab">Advanced</a></li>
</ul>
 
<div class="tab-content">
    <div class="tab-pane active" id="home">
        <h3>Welcome!</h3>
        <p>
            Welcome to the Mininet package repository tutorial!
            This tutorial will guide you on how to download and upload Mininet packages.
            If you are already familiar with Python packaging system, you will feel right at home as Mininet package is just a Python package.
        </p>
        <p>
            Before you get started though, there are several things below that you will want to do first.
            Once you are done with these, you may use the tabs above to navigate to the different sections of the tutorials.
        </p>

        <h3>Setup</h3>
        <h4>Software Installation</h4>
        <p>
            In order to download packages, you will need to install several packages:
            <ul>
                <li><a href="https://pypi.python.org/pypi/pip">pip</a></li>
                <li><a href="http://www.virtualenv.org">virtualenv</a></li>
            </ul>
            <p>If you are using Ubuntu, you can easily install those packages with this command:</p>
            <pre>sudo apt-get install python-virtualenv python-pip</pre>
        </p>

        <h4>Virtual Environment</h4>
        <h5>Creating a virtual environment</h5>
        <p>
            Although this step is optional, it is highly recommended.
            All the subsequent sections will assume that you don't skip over this step :)
        </p>
        <p>
            Virtual environment is an isolated Python environment that is used to help you manage package dependencies.
            By using virtual environment, it is possible to have a package of version 1.0 in one environment and the same package but with version 2.0 in another environment.
            If you are not using virtual environment, then this will lead to a version conflict.
            If this sounds gibberish, just trust me and create a separate virtual environment for each of your experiments :)
        </p>
        <p>
            <p>To create a virtual environment, simply use this command:</p>
            <pre>virtualenv &lt;folder_name&gt;</pre>

            <p>For example, to create a virtual environment under the folder venv, use the command as below:</p>
            <pre>user@ubuntu:~/Desktop$ virtualenv venv
New python executable in venv/bin/python
Installing setuptools............done.
Installing pip...............done.</pre>
        </p>
        <h5>Activating a virtual environment</h5>
        <p>
            Once the virtual environment folder is created, it has to be activated in order to use it.
            To activate the virtual environment, simply cd into the virtual environment folder and run this command:
        </p>
        <pre>. bin/activate</pre>

        <p>
            For example, to activate the virtual environment folder we created in the previous example:
        </p>
        <pre>user@ubuntu:~/Desktop/venv$ . bin/activate
(venv)user@ubuntu:~/Desktop/venv$ which python
/home/user/Desktop/venv/bin/python
(venv)user@ubuntu:~/Desktop/venv$</pre>
        <p>
            In the example above, once the virtual environment is activated, notice that the prompt is prepended with <span class="label">(venv)</span> in the above example.
            This indicates that the <span class="label">venv</span> virtual environment is active.
            Notice also that the <span class="label">python</span> executable is located somewhere inside the virtual environment folder.
            This is the intended behaviour.
        </p>
        <p class="text-error">
            Note: Do NOT copy/move the virtual environment folder around once it is created as it may lead to strange errors.
            We recommend you to recreate the virtual environment from scratch rather than copying/moving around the folder.
        </p>

        <h4>Installing mnp</h4>
        <p>
            To make it easier to download and upload packages, a package called <span class="label">mnp</span> has been developed.
            For the full feature list of mnp, visit the mnp project page.
            To install mnp into your virtual environment, make sure the virtual environment is activated and then use the command below:
        </p>
        <pre>pip install --extra-index-url http://localhost:8000/simple/ mnp</pre>
        <h4>TODO: Change URL later!</h4>

        <h4>Account registration and .pypirc</h4>
        <p>
            You may skip over this step, if you don't intend to contribute new packages yet.
            In order to be able to contribute new packages, you will need to register for an account.
        </p>
        <p>
            Once you are registered, create a file called <span class="label">.pypirc</span> on your home directory with this content:
        </p>
        <pre>[distutils]
index-servers =
    mininet

[mininet]
username: &lt;your_username&gt;
password: &lt;your_password&gt;
repository: http://localhost:8000/pypi/</pre>

        <p>
            If you already have an account with GitHub, you can also register by logging in with the GitHub login link in this website at least once.
            If you do this, then the content of <span class="label">.pypirc</span> is a bit different:
        </p>
        <pre>[distutils]
index-servers =
    mininet

[mininet]
github_username: &lt;your_github_username&gt;
github_password: &lt;your_github_password&gt;
repository: http://localhost:8000/pypi/</pre>
        <p>
            Note that for GitHub account only, the github_password setting is optional if <span class="label">mnp</span> is used to upload packages.
            If the github_password is not set, <span class="label">mnp</span> will simply ask for the GitHub password when it is run.
        </p>
        <h4>TODO: Change repository URL later!</h4>

    </div>

    <div class="tab-pane" id="download">
        <h3>Downloading and installing a package</h3>
        <p>
            There are 2 ways to download a Mininet package.
            The first is to simply surf around this website and click the download link from the package project page.
            By doing this, you will have to manually download all the packages your package depends on.
        </p>
        <p>
            The second and recommended way is to use <span class="label">mnp</span>.
            This is because it will automatically download all the dependencies of the package as well.
            mnp will also automatically install the package by putting all the files into the correct folders.
            This tutorial will assume that you will be using mnp.
        </p>

        <h4>Package downloading &amp; installation with mnp</h4>
        <p>
            You may want to use this website to search for packages that you want to install.
            Once you find the package that you want to install, make sure you remember the package name.
            To actually install the package, use the command below:
        </p>
        <pre>mnp download &lt;package_name&gt;</pre>
        <p>
            For example, to install a package called <span class="label">TowelStuff</span>, use the command as below:
        </p>
        <pre>(venv)user@ubuntu:~/Desktop/venv$ mnp download TowelStuff
Downloading/unpacking TowelStuff
    Running setup.py egg_info for package TowelStuff
......... (long outputs) .........
Successfully installed TowelStuff
Cleaning up...</pre>
        <p>That is all for package installation.</p>

        <h3>Using an installed package</h3>
        <p>Make sure that your virtual environment is activated when you want to use your installed package.</p>
        <p>
            If you are interested in using the executable(s) provided by an installed package, you can simply run it from command-line just like how you will run another program.
            You can go to the <span class="label">bin/</span> folder under the virtual environment to see all the installed executables.
        </p>
        <p>
            If you are interested in using an installed package as a library to your own Mininet module, a normal python import statement will work just fine.
            If for some reasons you need to reference the source code of an installed package, then it is usually located under <span class="label">lib/pythonX.Y/site-packages/</span>
            where X.Y is your python version.
        </p>
        <p>
            If you need to use this location in part of your script, you may want to use this one-liner:
        </p>
        <pre>python -c "from distutils.sysconfig import get_python_lib; print(get_python_lib())"</pre>
        <p>
            Or using it inside python REPL:
        </p>
        <pre>>>> from distutils.sysconfig import get_python_lib
>>> get_python_lib()
'/home/user/Desktop/venv/lib/python2.7/site-packages'</pre>
    </div>

    <div class="tab-pane" id="upload">
        <h3>Developing a package</h3>
        <h4>Project Structure</h4>
        <p>
            In order to have your project packaged properly, your project will have to follow a certain structure.
            You may want to download the mininet-starter package and customize it according to your needs rather than writing a project from scratch.
            <p class="text-error">TODO: Add hyperlink to mininet-starter package once finalized</p> 
            The project structure is as described below:
        </p>
        <pre>virtual_environment_folder/
    your_project/
        bin/
            ... your executables ...
        doc/
            ... your documentation ...
        CHANGES.txt
        LICENSE.txt
        MANIFEST.in
        README.rst
        setup.py
        your_project_package/
            __init__.py
            ... your *.py source code ...
            test/
                __init__.py
                ... your *.py test cases ...</pre>
        <p>
            The content of each items in the structure is as described below:
            <ul>
                <li>
                    The <span class="label">bin/</span> folder should contain all the miscellaneous executables that you want to distribute with your project.
                    It can be any python scripts.
                </li>
                <li>
                    The <span class="label">doc/</span> folder should be the place to put all your documentation files you have.
                </li>
                <li>
                    <span class="label">CHANGES.txt</span> should contain the changelogs of your package.
                    This is optional though it is a good practice to have it.
                </li>
                <li>
                    <span class="label">LICENSE.txt</span> should contain the license text of your choice.
                    You may want to copy and paste the exact text from a popular <a href="http://opensource.org/licenses">open source license</a>.
                </li>
                <li>
                    <span class="label">MANIFEST.in</span> should contain the list of additional files you want to put in the package specified in its own syntax.
                    An example MANIFEST.in is given below:
                    <pre>include *.txt *.rst
recursive-include doc *.txt *.rst</pre>
                    The example above means that you want to include all files ending with .txt and .rst in the package root directory and also every .txt and .rst files under doc/ folder.
                </li>
                <li>
                    <span class="label">README.rst</span> should contain the project documentation in <a href="http://docutils.sourceforge.net/rst.html">reStructuredText</a> syntax.
                    Make sure to write this properly as it will be used to generate the project page in the Mininet repository.
                    You may find this <a href="http://docutils.sourceforge.net/docs/user/rst/quickstart.html">quick guide</a> and this <a href="http://www.tele3.cz/jbar/rest/rest.html">online renderer</a> useful.
                </li>
                <li>
                    The <span class="label">your_project_package/</span> folder should contain all your package source code.
                    The <span class="label">test/</span> folder under your_package_project/ should contain all your test cases.
                </li>
                <li>
                    Finally, <span class="label">setup.py</span> should contain the project metadata.
                    It is described in the next section below.
                </li>
            </ul>
        </p>

        <h4>setup.py</h4>
        <p>The project metadata can be defined in setup.py in the following format:</p>
        <pre>from setuptools import setup, find_packages

setup(
    name='&lt;package_name&gt;'
    version='&lt;package_version&gt;',
    description='&lt;short_package_description&gt;',
    author='&lt;your_name&gt;',
    author_email='&lt;your_email&gt;',
    packages=find_packages(exclude='test'),
    scripts=[&lt;space_separated_strings&gt;],
    url='&lt;project_external_url&gt;',
    long_description=open('README.rst').read(),
    data_files=[
        ("share/doc/&lt;package_name&gt;", ["doc/EXAMPLE.txt", "doc/SAMPLE.txt"])
    ],
    classifiers=[
        &lt;comma_separated_strings&gt;
    ],
    keywords='&lt;space_separated_keywords&gt;',
    license='&lt;license_name&gt;',
    install_requires=[
        &lt;comma_separated_package_names&gt;
    ],
    entry_points={
        'console_scripts': [
            '&lt;executable&gt; = &lt;package.module:function&gt;',
            ...
        ],
        'gui_scripts': [
            '&lt;executable&gt; = &lt;package.module:function&gt;',
            ...
        ]
    })</pre>
        <p>
            <ul>
                <li><span class="label">name</span>, <span class="label">version</span>, <span class="label">description</span>, <span class="label">author</span>, <span class="label">author_email</span> should be clear enough.</li>
                <li>
                    <span class="label">entry_points</span> should contain the list of executables that will be automatically generated from source code when users install this package.
                </li>
                <li>
                    <span class="label">scripts</span> should contain the relative path to the executables for this package.
                    It usually contains list of files under the <span class="label">bin/</span> directory.
                </li>
                <li>
                    <span class="label">url</span> should contain the external URL of the project.
                    This can be a link to the project repository or the external project home page.
                </li>
                <li>
                    <span class="label">long_description</span> should contain the string containing the full description and/or short documentation.
                    In most cases, reusing the content of README.rst is good enough.
                </li>
                <li>
                    <span class="label">data_files</span> is used to list additional files that should be additionally copied when the package is installed.
                    This is useful to distribute documentation or any other files along with the package.
                    This value is written as a list of tuples where each tuple contains 2 values.
                    The first value represents the destination folder for the files while the second value is a list of files to copy into the destination folder.
                    In the example above, it is specified that the files doc/EXAMPLE.txt and doc/SAMPLE.txt should be copied into share/doc/&lt;package_name&gt; folder.
                </li>
                <li>
                    <span class="label">classifiers</span> should contain list of classifier strings for this package.
                    The list of valid classifiers are available from the advanced search page.
                </li>
                <li>
                    <span class="label">keywords</span> should contain list of keywords associated with this package.
                </li>
                <li>
                    <span class="label">license</span> should contain only the name of the license you have chosen.
                </li>
                <li>
                    <span class="label">install_requires</span> should contain the list of dependencies of this package.
                </li>
            </ul>
        </p>

        <h3>Uploading a package</h3>
        <p>
            Once you are are ready to upload your package to the Mininet repository, 
            simply go into the directory where the <span class="label">setup.py</span> file is located and run this command:
        </p>
        <pre>mnp upload</pre>
        <p>The command above will automatically zip your package together and then upload it to the server,
           automatically reading your login information from the <span class="label">.pypirc</span> file.</p>
    </div>

    <div class="tab-pane" id="advanced">
        <h4>Permission Management</h4>
        <p>
            For every package that you uploaded, you will automatically be added as the owner and the maintainer of the package.
            The maintainers of the project are the people who can upload the new versions of a package.
            The owners of the project can do everything a maintainer can do and are also the people capable of deleting a package and manage the package permission.
            If you as an owner want to add another person as either an owner or a maintainer, it can be done by visiting the package project page and click on the Manage Permission button.
        </p>

        <h4>About mnp</h4>
        <p>
            mnp is simply a wrapper over existing Python tools to download and upload packages, namely setuptools and pip.
            Under the hood, mnp commands are translated to craft either setuptools or pip commands and then executed.
            Knowing this, it is possible that sometimes you may want to directly use setuptools/pip.
            This is perfectly acceptable.
        </p>
    </div>
</div>
{% endblock %}
