{% extends "account/base.html" %}

{% block content %}
<div class="hero-unit">
    <h2>{% block form_header %}{% endblock %}</h2>

    {% block form_error %}
        {% if form.non_field_errors %}
            <div class="alert alert-error">
                {% for error in form.non_field_errors %}
                    {{ error }}<br>
                {% endfor %}
            </div>
        {% endif %}
    {% endblock %}

    {% block form_before %}{% endblock %}

    <form method="post" class="form-horizontal">
        {% csrf_token %}
        <p>{% block form_text %}{% endblock %}</p>
        
        {% block form_field %}
            {% for field in form %}
                {% if field.field.widget.input_type != "hidden" %}
                    <div class="control-group">
                {% else %}
                    <div class="control-group hidden">
                {% endif %}
                        <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>                
                        <div class="controls">
                            {{ field }}
                            <span class="help-inline">
                                {% for error in field.errors %}
                                    <span class="text-error">{{ error }}</span>
                                {% endfor %}
                            </span>
                        </div>
                    </div>
            {% endfor %}
        {% endblock %}
        
        <div class="form-actions">
            {% block form_action %}
            <input type="submit" class="btn btn-primary">
            {% endblock %}
        </div>
        {% block form_after %}{% endblock %}
    </form>
</div>
{% endblock %}
