{% extends "account/base_form.html" %}

{% block title %} Password Reset {% endblock %}

{% block form_header %} Password Reset {% endblock %}

{% block form_before %}
    {% if user.is_authenticated %}
        <strong>Note: </strong>You are already logged in as {{ user.username }}.
    {% endif %}
    <p>Enter your e-mail address below and we'll send you an e-mail to reset your password.</p>
{% endblock %}

{% block form_field %}
    {% for field in password_reset_form %}
        {% if field.field.widget.input_type != "hidden" %}
            <div class="control-group">
        {% else %}
            <div class="control-group hidden">
        {% endif %}
                <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>                
                <div class="controls">
                    {{ field }}
                    <span class="help-inline">
                        {% for error in field.errors %}
                            <span class="text-error">{{ error }}</span>
                        {% endfor %}
                    </span>
                </div>
            </div>
    {% endfor %}
{% endblock %}

{% block form_action %}
    <input type="submit" class="btn btn-warning">
{% endblock %}
