{% extends 'pypi_users/base.html' %}

{% block title %}{{ user_.username }}{% endblock%}

{% block content %}
<div class="hero-unit">
  <h2>
    {{ user_ }}
    {% if request.user == user_ %}
    <div class="btn-group pull-right">
      <button class="btn dropdown-toggle" data-toggle="dropdown">Settings <span class="caret"></span></button>
      <ul class="dropdown-menu">
        {% if request.user.has_usable_password %}
          <li>
            <a href="{% url 'account_change_password' %}"><i class="icon-lock">&nbsp;</i> Change Password</a>
          </li>
        {% else %}
          <li>
            <a href="{% url 'account_set_password' %}"><i class="icon-lock">&nbsp;</i> Set Password</a>
          </li>
        {% endif %}
        <li class="divider"></li>
        <li>
          <a href="{% url 'account_email' %}"><i class="icon-envelope">&nbsp;</i> Email Addresses</a>
        </li>
        <li>
          <a href="{% url 'socialaccount_connections' %}"><i class="icon-check">&nbsp;</i> 3rd-party Connections</a>
        </li>
      </ul>
    </div>
    {% endif %}
    <small>{{ user_.email }}</small>
  </h2>
  <p>
    Joined: {{ user_.date_joined }}<br/>
    Last logged-in: {{ user_.last_login|timesince }} ago
  </p>
</div>

<div class="row">
  <div class="span6">
    <h2>Maintained packages</h2>
    <ul>
      {% for package in user_.packages_maintained.all %}
      <li>
        <a href="{{ package.get_absolute_url }}">{{ package }}</a>
        <small>{{ package.summary }}</small>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="span6">
    <h2>Owned packages</h2>
    <ul>
      {% for package in user_.packages_owned.all %}
      <li>
        <a href="{{ package.get_absolute_url }}">{{ package }}</a>
        <small>{{ package.summary }}</small>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
